
  <h1>New Place</h1>

  <%= form_with :model => @place do |form| %>
    <div class = "mt-3">
      <%= form.label "name" %>
      <%= form.text_field "name" %>
    </div>
    <div class = "mt-3">
      <%= form.submit "Submit", :class => "btn btn-primary" %>
    </div>
  <% end %>
